.photo-gallery .page-title {
  text-align: center;
}

.photo-gallery {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
}

.load-more-container {
  text-align: center;
  padding: 1rem 0;
}

.gallery-categories {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 1rem;
}
