.home .time {
  font-weight: 100;
}

.callout-content {
  width: 100%;
  max-width: 800px;
  margin: 1rem auto;
}

.section-title {
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 2.5rem;
}

.time-and-details {
  text-align: center;
  margin-bottom: 2rem;
}

.time-and-details:last-child {
  margin-bottom: 0;
}

.date {
  text-align: center;
}

.home .icon-container {
  font-size: 3rem;
}

.subsection-title {
  margin-bottom: 0;
  margin-top: 0;
  font-size: 2rem;
}

.home .section {
  display: block;
  margin-bottom: 1rem;
}

.section__title-container {
  width: 100%;
  padding: 2rem 0;
}

.section__content-container {
  width: 100%;
  padding: 1rem;
  box-sizing: border-box;
}

.location-title {
  font-size: 1.25rem;
  line-height: 1.75;
}

.location-address {
  font-size: 1rem;
  line-height: 1.5;
}

.home .attire {
  font-weight: 100;
  font-size: 0.9rem;
  font-style: italic;
  margin-bottom: 1rem;
}

.cta-button,
.cta-button--atc {
  text-decoration: none;
  border: 2px solid black;
  text-transform: uppercase;
  display: inline-block;
  padding: 0.5rem 1.5rem;
  color: black;
  transition: all 0.25s;
  font-size: 0.9rem;
  background-color: white;
  cursor: pointer;
}

.cta-button:hover {
  color: white;
  background-color: black;
}

.cta-button-container {
  margin-bottom: 1rem;
}

.cta-button-container:last-child {
  margin-bottom: 0;
}

.padding-bottom {
  padding-bottom: 1rem;
}

.padding-bottom-2x {
  padding-bottom: 2rem;
}

@media all and (min-width: 768px) {
  .home .section {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
  }

  .section__title-container {
    padding: 3rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .section__content-container {
    width: 50%;
    padding: 3rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

@keyframes slideIn {
  0% {
    transform: translateX(-10);
  }
  100% {
    transform: translateX(50);
  }
}
