.callout-content {
  width: 100%;
  max-width: 1000px;
  overflow-x: hidden;
  margin: 0 auto;
}

.section-title {
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 2.5rem;
}

.time-and-details {
  text-align: center;
  padding: 2rem 0;
}

.date {
  text-align: center;
}

.home .icon-container {
  font-size: 3rem;
}

.subsection-title {
  margin-bottom: 0;
  margin-top: 0;
  font-size: 2rem;
}

.home .section {
  display: block;
  padding: 3rem 0;
  position: relative;
}

.home .section::after,
.us::after {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  width: 25%;
  left: 37.5%;
  border-top: 1px solid #efefef;
}

.location-title {
  font-size: 1.25rem;
  line-height: 1.75;
}

.location-address {
  font-size: 1rem;
  line-height: 1.5;
}

.home .attire {
  font-size: 0.9rem;
  font-style: italic;
  margin-bottom: 1rem;
}

.cta-button,
.cta-button--atc {
  text-decoration: none;
  border: 2px solid black;
  text-transform: uppercase;
  display: inline-block;
  padding: 0.5rem 1.5rem;
  color: black;
  transition: all 0.25s;
  font-size: 0.9rem;
  background-color: white;
  cursor: pointer;
}

.cta-button:hover {
  color: white;
  background-color: black;
}

.cta-button-container {
  margin-bottom: 1rem;
}

.cta-button-container:last-child {
  margin-bottom: 0;
}

.padding-bottom {
  padding-bottom: 1rem;
}

.padding-bottom-2x {
  padding-bottom: 2rem;
}

.us {
  position: relative;
  padding-bottom: 1rem;
}

.us__inner {
  width: 100%;
  max-width: 420px;
  margin: 0 auto;
}

.laura,
.ian {
  display: block;
}

.and {
  font-weight: 100;
  line-height: 2;
  padding: 0 0.5rem;
  font-size: 3rem;
}

.us__heading {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.25rem;
  font-family: Cardo, serif;
}

.home__page-data {
  width: 100%;
  max-width: 600px;
  padding: 1rem;
  box-sizing: border-box;
  margin: 0 auto;
  text-align: center;
}

.home__page-data--visible {
  animation: fadeIn 0.75s ease-in 0.1s 1 normal forwards;
}

@media all and (min-width: 768px) {
  .home .section {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
  }

  .home .section.section--title-on-top {
    flex-direction: column;
    align-items: center;
  }

  .section__title-container {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.25rem;
  }

  .section__title-container--on-top {
    width: 100%;
  }

  .section__content-container {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
