.faq {
  max-width: 1600px;
  margin: 0 auto;
}

.faq .page-contents {
  padding: 3rem 0;
  max-width: 1200px;
  margin: 0 auto;
}

.faq__item {
  width: 100%;
  box-sizing: border-box;
  text-align: center;
  border-top: 1px solid #efefef;
}

.faq__question,
.faq__answer {
  width: 100%;
}

.question__inner {
  padding: 1rem 2rem;
}

.answer__inner {
  padding: 1rem 2rem;
}

.answer__text {
  font-size: 1rem;
  line-height: 1.5;
  color: #222;
}

@media all and (min-width: 768px) {
  .faq__item {
    display: flex;
    align-items: center;
  }

  .faq__question,
  .faq__answer {
    width: 50%;
  }

  .answer__inner {
    padding: 1rem 4rem;
  }
}
