:root {
  --offset-x-amount-left: translateX(-80px);
  --offset-x-amount-right: translateX(80px);
}
@media screen and (min-width: 768px) {
  :root {
    --offset-x-amount-left: translateX(-110px);
    --offset-x-amount-right: translateX(110px);
  }
}

.scroll-in-on-view-box {
  transition: 0.25s opacity;
  animation-delay: 0.025s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  animation-duration: 0.25s;
  opacity: 0;
}

.scroll-in-on-view-box--visible.scroll-in-on-view-box--right {
  animation-name: slideInFromRight;
}

.scroll-in-on-view-box--visible.scroll-in-on-view-box--left {
  animation-name: slideInFromLeft;
}

@keyframes slideInFromLeft {
  0% {
    opacity: 0;
    transform: var(--offset-x-amount-left);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideInFromRight {
  0% {
    opacity: 0;
    transform: var(--offset-x-amount-right);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
