.footer {
  width: 100%;
  padding: 1rem 0;
}

.footer__content {
  width: 100%;
  max-width: 200px;
  margin: 0 auto;
  text-align: center;
}

.footer__date {
  font-weight: 300;
}

.monogram {
  text-align: center;
  margin: .5rem auto;
  width: 150px;
}

.monogram__image {
  max-width: 100%;
}
