.footer {
  width: 100%;
  padding: 1rem 0;
}

.footer__content {
  width: 100%;
  max-width: 200px;
  margin: 0 auto;
  text-align: center;
}

.initials {
  font-size: 5rem;
  font-family: Abhaya Libre ExtraBold;
}

.footer__date {
  font-weight: 100;
}
