@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@800&family=Josefin+Sans:wght@100;300;400&&display=swap');

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: Josefin Sans, Arial, Helvetica, sans-serif;
}

p,
a {
  font-family: Josefin Sans, Arial, Helvetica, sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.text-center {
  text-align: center;
}

.flex {
  display: flex;
}
